a {
	color: rgba(58,9,97,1);
}

a:hover,
a:active,
a:focus {
  color: rgba(229,14,106,1);
}

.box.box-indigo {
	border-top-color:rgba(58,9,97,1);
}

.box.box-pink {
	border-top-color:rgba(229,14,106,1);
}

.box.box-aqua {
	border-top-color:rgba(18,238,227,1);
}

.box.box-purple {
	border-top-color:rgba(155,109,235,1);
}

.box.box-violet {
	border-top-color:rgba(198,59,178,1);
}

.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color:rgba(58,9,97,1)
}

.btn-indigo {
	background-color:rgba(58,9,97,1);
	border-color:rgba(58,9,97,0.75);
	color: white;
}

.btn-indigo:hover {
	background-color:rgba(58,9,97,0.75);
	border-color:rgba(58,9,97,0.75);
	color: white;
}

.btn-aqua {
	background-color:rgba(18,238,227,1);
	border-color:rgba(18,238,227,0.75);
	color: white;
}

.btn-aqua:hover {
	background-color:rgba(18,238,227,0.5);
	border-color:rgba(18,238,227,0.5);
	color: white;
}

.btn-pink {
	background-color:rgba(229,14,106,1);
	border-color:rgba(229,14,106,0.75);
	color: white;
}

.btn-pink:hover {
	background-color:rgba(229,14,106,0.75);
	border-color:rgba(229,14,106,0.75);
	color: white;
}

.btn-purple {
	background-color:rgba(155,109,235,1);
	border-color:rgba(155,109,235,0.75);
	color: white;
}

.btn-purple:hover {
	background-color:rgba(155,109,235,0.75);
	border-color:rgba(155,109,235,0.75);
	color: white;
}

.btn-violet {
	background-color:rgba(198,59,178,1);
	border-color:rgba(198,59,178,0.75);
	color: white;
}

.btn-violet:hover {
	background-color:rgba(198,59,178,0.75);
	border-color:rgba(198,59,178,0.75);
	color: white;
}

.chat .item>.indigo {
	border:2px solid rgba(58,9,97,1);
}

.chat .item>.aqua {
	border:2px solid rgba(18,238,227,1);
}

.neuronet-logo-mini {
	width: 25px;
}

.neuronet-logo-lg {
	height: 25px;
}

.page-title {
		margin-top: 0;
}

.dt-buttons {
	display: none;
}

.dashboard {
    padding-bottom: 11px !important;
    padding-top: 19px !important;
}

@media (max-width: 767px) {
	.skin-black-light .main-header>.logo {
		background-color: #fff !important;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}
}
