a {
	color: rgba(58,9,97,1);
}

a:hover,
a:active,
a:focus {
  color: rgba(229,14,106,1);
}

.box.box-indigo {
	border-top-color:rgba(58,9,97,1);
}

.box.box-pink {
	border-top-color:rgba(229,14,106,1);
}

.box.box-aqua {
	border-top-color:rgba(18,238,227,1);
}

.box.box-purple {
	border-top-color:rgba(155,109,235,1);
}

.box.box-violet {
	border-top-color:rgba(198,59,178,1);
}

.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color:rgba(58,9,97,1)
}

.btn-indigo {
	background-color:rgba(58,9,97,1);
	border-color:rgba(58,9,97,0.75);
	color: white;
}

.btn-indigo:hover {
	background-color:rgba(58,9,97,0.75);
	border-color:rgba(58,9,97,0.75);
	color: white;
}

.btn-aqua {
	background-color:rgba(18,238,227,1);
	border-color:rgba(18,238,227,0.75);
	color: white;
}

.btn-aqua:hover {
	background-color:rgba(18,238,227,0.5);
	border-color:rgba(18,238,227,0.5);
	color: white;
}

.btn-pink {
	background-color:rgba(229,14,106,1);
	border-color:rgba(229,14,106,0.75);
	color: white;
}

.btn-pink:hover {
	background-color:rgba(229,14,106,0.75);
	border-color:rgba(229,14,106,0.75);
	color: white;
}

.btn-purple {
	background-color:rgba(155,109,235,1);
	border-color:rgba(155,109,235,0.75);
	color: white;
}

.btn-purple:hover {
	background-color:rgba(155,109,235,0.75);
	border-color:rgba(155,109,235,0.75);
	color: white;
}

.btn-violet {
	background-color:rgba(198,59,178,1);
	border-color:rgba(198,59,178,0.75);
	color: white;
}

.btn-violet:hover {
	background-color:rgba(198,59,178,0.75);
	border-color:rgba(198,59,178,0.75);
	color: white;
}

.chat .item>.indigo {
	border:2px solid rgba(58,9,97,1);
}

.chat .item>.aqua {
	border:2px solid rgba(18,238,227,1);
}

.neuronet-logo {
    padding-top: 12px;
}

.neuronet-logo-mini {
	width: 25px;
}

.neuronet-logo-lg {
	height: 25px;
}

.page-title {
		margin-top: 0;
}

.dt-buttons {
	display: none;
}

.dashboard {
    padding-bottom: 11px !important;
    padding-top: 19px !important;
}

@media (max-width: 767px) {
	.skin-black-light .main-header>.logo {
		background-color: #fff !important;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}
}

/* Decision tool */

.decision-image {
	background-image: url("/img/decision_tool3.png");
	height: 988px;
	max-width: 1420px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center top;
}

.decision-top {
	padding-top: 28.7%;
	width: 100%;
}

.decision-ema {
	padding-left: 28.7%;
	width: 100%;
}

.decision-ema-1 {
	padding-top: 7.7%;
	padding-left: 12.5%;
	float: left;
	margin: 0 0.2%;
	cursor: pointer;
}
.decision-ema-1:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-ema-2 {
	padding-top: 7.7%;
	padding-left: 12.5%;
	float: left;
	margin: 0 0.6%;
	cursor: pointer;
}

.decision-ema-2:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-ema-3 {
	padding-top: 7.7%;
	padding-left: 12%;
	float: left;
	margin: 0 0.3%;
	cursor: pointer;
}

.decision-ema-3:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-ema-4 {
	padding-top: 7.7%;
	padding-left: 14%;
	width: 14%;
	float: left;
	margin: 0 0.3%;
	cursor: pointer;
}

.decision-ema-4:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-qualification {
	padding-top: 9.7%;
	padding-left: 32.5%;
	width: 100%;
}

.decision-qualification-1 {
	padding-top: 6.5%;
	width: 38.5%;
	margin: 0 0.3%;
	cursor: pointer;
}

.decision-qualification-1:hover {
	background: radial-gradient(ellipse, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-advice {
	padding-top: 6%;
	padding-left: 35.5%;
	width: 100%;
}

.decision-advice-1 {
	padding-top: 4.8%;
	width: 67%;
	cursor: pointer;
}

.decision-advice-1:hover {
	background: radial-gradient(ellipse, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-protocol {
	padding-left: 35.8%;
	width: 100%;
}

.decision-protocol-1 {
	padding-top: 6.6%;
	padding-left: 14.8%;
	width: 13%;
	float: left;
	margin: 0 0.3%;
	cursor: pointer;
}

.decision-protocol-1:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-protocol-2 {
	padding-top: 6.6%;
	padding-left: 14.5%;
	width: 14%;
	float: left;
	margin: 0 0.3%;
	cursor: pointer;
}

.decision-protocol-2:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}


.decision-protocol-3 {
	padding-top: 6.6%;
	padding-left: 17.5%;
	width: 13%;
	float: left;
	margin: 0 0.3%;
	cursor: pointer;
}

.decision-protocol-3:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-protocol-4 {
	padding-top: 6.6%;
	padding-left: 18%;
	width: 14%;
	float: left;
	margin: 0 30% 0 0.3%;
	cursor: pointer;

}

.decision-protocol-4:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-assistance {
	padding-top: 5.2%;
	padding-left: 38%;
	width: 100%;
}

.decision-assistance-1 {
	padding-top: 6.7%;
	padding-left: 19%;
	float: left;
	margin: 0 0.5%;
	cursor: pointer;
}

.decision-assistance-1:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-assistance-2 {
	padding-top: 6.7%;
	padding-left: 20%;
	width: 14%;
	float: left;
	margin: 0 0.5%;
	cursor: pointer;
}

.decision-assistance-2:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-assistance-3 {
	padding-top: 6.7%;
	padding-left: 19.5%;
	width: 13%;
	float: left;
	margin: 0 0.5%;
	cursor: pointer;
}

.decision-assistance-3:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-assistance-4 {
	padding-top: 9.5%;
	padding-left: 18%;
	width: 19.4%;
	float: left;
	margin-left: 9.2%;
	margin-top: -0.3%;
	cursor: pointer;
}

.decision-assistance-4:hover {
	background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-informal {
	padding-top: 6.3%;
	padding-left: 28.6%;
	width: 100%;
}

.decision-informal-1 {
	padding-top: 4%;
	width: 100%;
	cursor: pointer;
}

.decision-informal-1:hover {
	background: radial-gradient(ellipse, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

.decision-mechanism {
	padding-top: 0%;
	padding-left: 28.6%;
	width: 100%;
	margin-top: 0.3%;
}

.decision-mechanism-1 {
	padding-top: 4%;
	width: 100%;
	cursor: pointer;
}

.decision-mechanism-1:hover {
	background: radial-gradient(ellipse, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}

/* Asset map */

.modal-img {
	height: 25px;
	padding-right: 15px;
}

.asset-image {
	display: grid;
	grid-template-columns: repeat(659, 1fr);
	grid-template-rows: repeat(32, 1fr);
	background-image: url("/img/assets_map14.png");
	width: 759px;
	height: 654px;
	background-repeat:no-repeat;
	float: left;
	margin: 0 20px 30px 20px;
}

.cohort-clinical-amypad-1 {
    grid-column: 403 / 439;
    grid-row: 11 / 12;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-amypad-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-amypad-1:hover .asset-title {
    visibility: visible;
}



.cohort-clinical-amypad-2 {
    grid-column: 384 / 419;
    grid-row: 12 / 13;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-amypad-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-amypad-2:hover .asset-title {
    visibility: visible;
}



.cohort-clinical-epad-3 {
    grid-column: 362 / 403;
    grid-row: 11 / 12;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-epad-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-epad-3:hover .asset-title {
    visibility: visible;
}


.cohort-clinical-emif-4 {
    grid-column: 420 / 450;
    grid-row: 12 / 13;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-emif-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-emif-4:hover .asset-title {
    visibility: visible;
}


.cohort-clinical-emif-5 {
    grid-column: 430 / 460;
    grid-row: 14 / 15;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-emif-5 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-emif-5:hover .asset-title {
    visibility: visible;
}


.cohort-clinical-emif-6 {
    grid-column: 398 / 425;
    grid-row: 13 / 15;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-emif-6 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-emif-6:hover .asset-title {
    visibility: visible;
}


.cohort-clinical-aetionomy-7 {
    grid-column: 410 / 450;
    grid-row: 15 / 16;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-aetionomy-7 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-aetionomy-7:hover .asset-title {
    visibility: visible;
}

.cohort-clinical-radar-cns-9 {
    grid-column: 337 / 390;
    grid-row: 8 / 9;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-radar-cns-9 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-radar-cns-9:hover .asset-title {
    visibility: visible;
}

.cohort-clinical-radar-cns-10 {
    grid-column: 330 / 384;
    grid-row: 9 / 10;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-radar-cns-10 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-radar-cns-10:hover .asset-title {
    visibility: visible;
}


.cohort-clinical-radar-cns-11 {
    grid-column: 370 / 424;
    grid-row: 10 / 11;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-clinical-radar-cns-11 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-clinical-radar-cns-11:hover .asset-title {
    visibility: visible;
}

.cohort-non-clinical-ebisc2-12 {
    grid-column: 450 / 485;
    grid-row: 9 / 11;
    border: 1px solid transparent;
    cursor: pointer;
}
.cohort-non-clinical-ebisc2-12 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.cohort-non-clinical-ebisc2-12:hover .asset-title {
    visibility: visible;
}


.dataset-non-clinical-adapted-1 {
    grid-column: 216 / 260;
    grid-row: 5 / 6;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-non-clinical-adapted-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-non-clinical-adapted-1:hover .asset-title {
    visibility: visible;
}


.dataset-non-clinical-equip-2 {
    grid-column: 206 / 247;
    grid-row: 4 / 5;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-non-clinical-equip-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-non-clinical-equip-2:hover .asset-title {
    visibility: visible;
}


.dataset-non-clinical-im2pact-3 {
    grid-column: 300 / 340;
    grid-row: 4 / 5;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-non-clinical-im2pact-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-non-clinical-im2pact-3:hover .asset-title {
    visibility: visible;
}


.dataset-non-clinical-imprind-4 {
    grid-column: 252 / 287;
    grid-row: 3 / 5;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-non-clinical-imprind-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-non-clinical-imprind-4:hover .asset-title {
    visibility: visible;
}


.dataset-non-clinical-ebisc2-5 {
    grid-column: 265 / 295;
    grid-row: 5 / 6;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-non-clinical-ebisc2-5 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-non-clinical-ebisc2-5:hover .asset-title {
    visibility: visible;
}


.dataset-non-clinical-ebisc2-6 {
    grid-column: 308 / 340;
    grid-row: 5 / 6;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-non-clinical-ebisc2-6 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-non-clinical-ebisc2-6:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-adapted-7 {
    grid-column: 280 / 320;
    grid-row: 8 / 9;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-adapted-7 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-adapted-7:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-aetionomy-8 {
    grid-column: 277 / 320;
    grid-row: 9 / 11;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-aetionomy-8 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-aetionomy-8:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-amypad-9 {
    grid-column: 238 / 272;
    grid-row: 9 / 11;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-amypad-9 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-amypad-9:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-emif-10 {
    grid-column: 263 / 293;
    grid-row: 7 / 8;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-emif-10 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-emif-10:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-epad-11 {
    grid-column: 220 / 261;
    grid-row: 7 / 8;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-epad-11 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-epad-11:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-phago-12 {
    grid-column: 296 / 332;
    grid-row: 7 / 8;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-phago-12 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-phago-12:hover .asset-title {
    visibility: visible;
}


.dataset-clinical-radar-ad-13 {
    grid-column: 229 / 269;
    grid-row: 8 / 9;
    border: 1px solid transparent;
    cursor: pointer;
}
.dataset-clinical-radar-ad-13 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.dataset-clinical-radar-ad-13:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-adapted-1 {
    grid-column: 136 / 174;
    grid-row: 10 / 12;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-adapted-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-adapted-1:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-aetionomy-2 {
    grid-column: 126 / 170;
    grid-row: 12 / 13;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-aetionomy-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-aetionomy-2:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-emif-3 {
    grid-column: 190 / 220;
    grid-row: 8 / 9;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-emif-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-emif-3:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-emif-4 {
    grid-column: 162 / 193;
    grid-row: 9 / 10;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-emif-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-emif-4:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-emif-5 {
    grid-column: 200 / 230;
    grid-row: 9 / 10;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-emif-5 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-emif-5:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-epad-6 {
    grid-column: 180 / 220;
    grid-row: 10 / 12;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-epad-6 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-epad-6:hover .asset-title {
    visibility: visible;
}


.biological-samples-clinical-phago-7 {
    grid-column: 139 / 175;
    grid-row: 13 / 14;
    border: 1px solid transparent;
    cursor: pointer;
}
.biological-samples-clinical-phago-7 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.biological-samples-clinical-phago-7:hover .asset-title {
    visibility: visible;
}


.platform-clinical-emif-1 {
    grid-column: 104 / 132;
    grid-row: 13 / 15;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-clinical-emif-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-clinical-emif-1:hover .asset-title {
    visibility: visible;
}


.platform-clinical-emif-2 {
    grid-column: 132 / 160;
    grid-row: 14 / 15;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-clinical-emif-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-clinical-emif-2:hover .asset-title {
    visibility: visible;
}


.platform-clinical-epad-3 {
    grid-column: 124 / 167;
    grid-row: 16 / 17;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-clinical-epad-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-clinical-epad-3:hover .asset-title {
    visibility: visible;
}


.platform-clinical-epad-4 {
    grid-column: 115 / 158;
    grid-row: 17 / 18;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-clinical-epad-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-clinical-epad-4:hover .asset-title {
    visibility: visible;
}


.platform-clinical-epad-5 {
    grid-column: 104 / 145;
    grid-row: 18 / 19;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-clinical-epad-5 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-clinical-epad-5:hover .asset-title {
    visibility: visible;
}


.platform-clinical-radar-cns-6 {
    grid-column: 104 / 153;
    grid-row: 15 / 16;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-clinical-radar-cns-6 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-clinical-radar-cns-6:hover .asset-title {
    visibility: visible;
}


.platform-non-clinical-aetionomy-7 {
    grid-column: 40 / 85;
    grid-row: 17 / 18;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-non-clinical-aetionomy-7 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-non-clinical-aetionomy-7:hover .asset-title {
    visibility: visible;
}


.platform-non-clinical-aetionomy-8 {
    grid-column: 44 / 87;
    grid-row: 18 / 20;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-non-clinical-aetionomy-8 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-non-clinical-aetionomy-8:hover .asset-title {
    visibility: visible;
}


.platform-non-clinical-ebisc2-9 {
    grid-column: 57 / 87;
    grid-row: 12 / 14;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-non-clinical-ebisc2-9 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-non-clinical-ebisc2-9:hover .asset-title {
    visibility: visible;
}



.platform-non-clinical-ebisc2-10 {
    grid-column: 83 / 111;
    grid-row: 16 / 17;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-non-clinical-ebisc2-10 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-non-clinical-ebisc2-10:hover .asset-title {
    visibility: visible;
}


.platform-non-clinical-ebisc2-11 {
    grid-column: 46 / 78;
    grid-row: 14 / 16;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-non-clinical-ebisc2-11 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-non-clinical-ebisc2-11:hover .asset-title {
    visibility: visible;
}


.platform-non-clinical-phago-12 {
    grid-column: 40 / 78;
    grid-row: 16 / 17;
    border: 1px solid transparent;
    cursor: pointer;
}
.platform-non-clinical-phago-12 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.platform-non-clinical-phago-12:hover .asset-title {
    visibility: visible;
}


.disease-model-non-clinical-adapted-1 {
    grid-column: 465 / 508;
    grid-row: 22 / 23;
    border: 1px solid transparent;
    cursor: pointer;
}
.disease-model-non-clinical-adapted-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.disease-model-non-clinical-adapted-1:hover .asset-title {
    visibility: visible;
}


.disease-model-non-clinical-aetionomy-2 {
    grid-column: 484 / 528;
    grid-row: 19 / 20;
    border: 1px solid transparent;
    cursor: pointer;
}
.disease-model-non-clinical-aetionomy-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.disease-model-non-clinical-aetionomy-2:hover .asset-title {
    visibility: visible;
}


.disease-model-non-clinical-ebisc2-3 {
    grid-column: 465 / 498;
    grid-row: 23 / 24;
    border: 1px solid transparent;
    cursor: pointer;
}
.disease-model-non-clinical-ebisc2-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.disease-model-non-clinical-ebisc2-3:hover .asset-title {
    visibility: visible;
}


.disease-model-non-clinical-im2pact-4 {
    grid-column: 445 / 488;
    grid-row: 24 / 25;
    border: 1px solid transparent;
    cursor: pointer;
}
.disease-model-non-clinical-im2pact-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.disease-model-non-clinical-im2pact-4:hover .asset-title {
    visibility: visible;
}


.disease-model-non-clinical-imprind-5 {
    grid-column: 475 / 518;
    grid-row: 20 / 21;
    border: 1px solid transparent;
    cursor: pointer;
}
.disease-model-non-clinical-imprind-5 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.disease-model-non-clinical-imprind-5:hover .asset-title {
    visibility: visible;
}


.taxonomies-non-clinical-eqipd-1 {
    grid-column: 485 / 528;
    grid-row: 17 / 18;
    border: 1px solid transparent;
    cursor: pointer;
}
.taxonomies-non-clinical-eqipd-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.taxonomies-non-clinical-eqipd-1:hover .asset-title {
    visibility: visible;
}


.tools-clinical-aetionomy-1 {
    grid-column: 189 / 228;
    grid-row: 23 / 24;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-aetionomy-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-aetionomy-1:hover .asset-title {
    visibility: visible;
}


.tools-clinical-emif-2 {
    grid-column: 200 / 228;
    grid-row: 25 / 26;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-emif-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-emif-2:hover .asset-title {
    visibility: visible;
}


.tools-clinical-emif-3 {
    grid-column: 230 / 260;
    grid-row: 25 / 27;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-emif-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-emif-3:hover .asset-title {
    visibility: visible;
}


.tools-clinical-epad-4 {
    grid-column: 220 / 257;
    grid-row: 23 / 25;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-epad-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-epad-4:hover .asset-title {
    visibility: visible;
}


.tools-clinical-epad-5 {
    grid-column: 166 / 208;
    grid-row: 24 / 25;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-epad-5 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-epad-5:hover .asset-title {
    visibility: visible;
}


.tools-clinical-epad-6 {
    grid-column: 146 / 190;
    grid-row: 23 / 24;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-epad-6 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-epad-6:hover .asset-title {
    visibility: visible;
}


.tools-clinical-epad-7 {
    grid-column: 126 / 170;
    grid-row: 21 / 23;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-epad-7 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-epad-7:hover .asset-title {
    visibility: visible;
}


.tools-clinical-epad-8 {
    grid-column: 138 / 180;
    grid-row: 20 / 21;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-epad-8 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-epad-8:hover .asset-title {
    visibility: visible;
}


.tools-clinical-epad-9 {
    grid-column: 110 / 150;
    grid-row: 19 / 20;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-epad-9 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-epad-9:hover .asset-title {
    visibility: visible;
}


.tools-clinical-mopead-10 {
    grid-column: 175 / 200;
    grid-row: 21 / 23;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-clinical-mopead-10 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-clinical-mopead-10:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-eqipd-11 {
    grid-column: 80 / 119;
    grid-row: 23 / 24;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-eqipd-11 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-eqipd-11:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-eqipd-12 {
    grid-column: 109 / 146;
    grid-row: 24 / 26;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-eqipd-12 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-eqipd-12:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-eqipd-13 {
    grid-column: 119 / 160;
    grid-row: 26 / 27;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-eqipd-13 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-eqipd-13:hover .asset-title {
    visibility: visible;
}

.tools-non-clinical-imprind-14 {
    grid-column: 65 / 110;
    grid-row: 20 / 21;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-imprind-14 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-imprind-14:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-phago-15 {
    grid-column: 65 / 110;
    grid-row: 21 / 23;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-phago-15 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-phago-15:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-ebisc2-16 {
    grid-column: 161 / 190;
    grid-row: 26 / 28;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-ebisc2-16 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-ebisc2-16:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-ebisc2-17 {
    grid-column: 172 / 202;
    grid-row: 28 / 29;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-ebisc2-17 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-ebisc2-17:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-ebisc2-18 {
    grid-column: 204 / 232;
    grid-row: 27 / 29;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-ebisc2-18 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-ebisc2-18:hover .asset-title {
    visibility: visible;
}


.tools-non-clinical-ebisc2-19 {
    grid-column: 210 / 240;
    grid-row: 29 / 30;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-non-clinical-ebisc2-19 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-non-clinical-ebisc2-19:hover .asset-title {
    visibility: visible;
}


.tools-regulators-roadmap-20 {
    grid-column: 230 / 267;
    grid-row: 18 / 20;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-regulators-roadmap-20 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-regulators-roadmap-20:hover .asset-title {
    visibility: visible;
}


.tools-rwe-roadmap-21 {
    grid-column: 225 / 260;
    grid-row: 21 / 23;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-rwe-roadmap-21 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-rwe-roadmap-21:hover .asset-title {
    visibility: visible;
}


.tools-rwe-roadmap-22 {
    grid-column: 189 / 224;
    grid-row: 19 / 21;
    border: 1px solid transparent;
    cursor: pointer;
}
.tools-rwe-roadmap-22 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.tools-rwe-roadmap-22:hover .asset-title {
    visibility: visible;
}


.sem-clinical-epad-1 {
    grid-column: 272 / 314;
    grid-row: 26 / 27;
    border: 1px solid transparent;
    cursor: pointer;
}
.sem-clinical-epad-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.sem-clinical-epad-1:hover .asset-title {
    visibility: visible;
}


.sem-clinical-mopead-2 {
    grid-column: 328 / 361;
    grid-row: 25 / 27;
    border: 1px solid transparent;
    cursor: pointer;
}
.sem-clinical-mopead-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.sem-clinical-mopead-2:hover .asset-title {
    visibility: visible;
}


.sem-clinical-radar-ad-3 {
    grid-column: 278 / 320;
    grid-row: 25 / 26;
    border: 1px solid transparent;
    cursor: pointer;
}
.sem-clinical-radar-ad-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.sem-clinical-radar-ad-3:hover .asset-title {
    visibility: visible;
}


.sem-clinical-radar-cns-4 {
    grid-column: 300 / 352;
    grid-row: 23 / 25;
    border: 1px solid transparent;
    cursor: pointer;
}
.sem-clinical-radar-cns-4 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.sem-clinical-radar-cns-4:hover .asset-title {
    visibility: visible;
}


.training-clinical-epad-1 {
    grid-column: 374 / 414;
    grid-row: 23 / 25;
    border: 1px solid transparent;
    cursor: pointer;
}
.training-clinical-epad-1 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.training-clinical-epad-1:hover .asset-title {
    visibility: visible;
}


.training-non-clinical-ebisc2-2 {
    grid-column: 400 / 432;
    grid-row: 26 / 28;
    border: 1px solid transparent;
    cursor: pointer;
}
.training-non-clinical-ebisc2-2 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.training-non-clinical-ebisc2-2:hover .asset-title {
    visibility: visible;
}


.training-non-clinical-eqipd-3 {
    grid-column: 411 / 452;
    grid-row: 25 / 26;
    border: 1px solid transparent;
    cursor: pointer;
}
.training-non-clinical-eqipd-3 .asset-title {
    visibility: hidden;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}
.training-non-clinical-eqipd-3:hover .asset-title {
    visibility: visible;
}

.highlight-img {
    padding-top: 2%;
}

.highlight-num {
    font-size: 160%;
}

.highlight-name {
    padding-bottom: 7%;
}

.highlight-num-big {
    font-size: 240%;
}

.highlight-name-big {
    font-size: 170%;
}

.network-diagram {
    position: absolute;
    margin-right: 5%;
    margin-left: 3%;
    padding: 2%;
    border: 1px solid #ddd;
    background: white;
    overflow: hidden;
    z-index: 10000;
}

.hidden {
    visibility: hidden;
}

.team-member-padding {
    /*background-color: white;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-header .box-title,
.nav-tabs-custom>.nav-tabs>li.header {
    font-size: 25px;
}
